.review-container {
  background-color: #cbf3f0;
  min-height: 540px;
  padding: 0 100px 40px 100px;
  display: flex;
  flex-direction: column;
}
.review-title {
  text-align: center;
  color: #ff9f1c;
  font-size: 36px;
  margin-top: 60px;
}
.review-row {
  display: flex;
}
.review-column {
    margin: 0 40px;
    width: 100%;
}
@media (max-width: 768px) {
  .review-row {
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .review-container{
    padding: 0 20px 20px 20px;
  }
}

