.header-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    padding: 10px 23px;
    position: fixed;
    width: 100%;
    z-index: 10;
}
.header-title {
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 9;
    font-size: 32px;
    color: #2EC4B6;
}
.header-align {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 24px;
    color: #2EC4B6;
}
.top {
    background-color: #cbf3f0;
    transition: background-color 0.5s;
}
.scroll {
    background-color: #FFBF69;
    transition: background-color 1s;
}

@media (max-width: 576px) {
    .header-align {
        display: none;
    }
}